#AddAssignment {
  form {
    &.hide {
      display: none;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px 0;

    & > :not(:last-child) {
      flex: 1;
    }

    .MuiInputBase-root {
      height: 48px;
    }
  }

  & > div {
    margin: 16px 0;
    margin-left: auto;
    width: fit-content;

    & > button {
      width: 48px;
      height: 48px;
    }
    &.hide {
      display: none;
    }
  }

  button {
    box-shadow: none;
  }
}
