#AddAssignment {
  form {
    // margin: 16px 0 16px 0;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;

    // .rs-form-group:last-child {
    //   margin-right: 0;
    // }

    // & > div {
    //   margin-bottom: 8px !important;
    // }

    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;

    & > :not(:last-child) {
      flex: 1;
    }
  }

  & > div {
    margin: 16px 0;
    margin-left: auto;
    width: fit-content;
  }

  button {
    height: 40px;
  }
}
