.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  & > :not(:last-child) {
    flex: 1;
  }

  @media screen and (max-width: 755px) {
    & {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }
}

.add {
  margin: 16px 0;
  margin-left: auto;
  width: fit-content;

  & > button {
    width: 48px;
    height: 48px;
  }
  &.hideAdd {
    display: none;
  }
}

.submit {
  @media screen and (min-width: 755.1px) {
    & {
      border-radius: 99px 0 0 99px;
    }
  }
}
