.Assignments {
  width: 100%;
  margin: 0 auto;
  max-width: var(--bp);

  h1 {
    margin-top: 0;
    margin-bottom: 32px;
  }

  .list {
    max-height: calc(100vh - 245px);
    overflow-y: auto;

    .actions {
      display: flex;
      gap: 12px;
    }

    
  }
  @media screen and (max-width: 700px) {
    .add-open + .list {
      max-height: calc(100vh - 400px)!important;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}
