.Assignments {
  width: 100%;
  margin: 0 auto;
  max-width: var(--bp);

  .head {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;

    h1 {
      margin: 0;
      width: -webkit-fill-available;

      @media screen and (max-width: 500px) {
        & {
          font-size: 20px;
        }
      }
    }

    & > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-width: 120px;
      button {
        height: 48px;
        width: 48px;
        margin-left: 8px;
      }

      @media screen and (min-width: 864px) {
        & {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }
  }

  .overlay {
    position: relative;
    max-height: calc(100vh - 245px);
    height: 100%;


    &::after {
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      position: absolute;
      width: calc(100% - 8px);
      background: linear-gradient(
        0deg,
        rgba(0, 30, 60, 1) 0%,
        rgba(0, 0, 0, 0) 8%,
        rgba(0, 0, 0, 0) 92%,
        rgba(0, 30, 60, 1) 100%
      );
      pointer-events: none;
    }

    .list {
      max-height: inherit;
      overflow-y: auto;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}
