.Assignments {
  width: 100%;
  margin: 0 auto;
  max-width: var(--bp);

  .list {
    max-height: calc(100vh - 230px);
    overflow-y: auto;

    .actions {
      display: flex;
      gap: 12px;
    }
  }
}
