.Assignments {
  width: 100%;
  margin: 0 auto;
  max-width: var(--bp);

  .head {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;

    h1 {
      margin: 0;
      width: -webkit-fill-available;
    }

    & > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-width: 120px;
      button {
        height: 48px;
        width: 48px;
        margin-left: 8px;
      }

      @media screen and (min-width: 864px) {
        & {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }
  }

  .list {
    max-height: calc(100vh - 245px);
    overflow-y: auto;
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}
