.App {
  height: 100vh;
  padding: 32px;
  background-color: var(--background);
  color: white;
  overflow-y: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(210, 100%, 30%) hsl(210, 100%, 20%);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(210, 100%, 20%);
  border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(210, 100%, 30%);
  border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(210, 100%, 35%);
}
